---
import Navigation from '../components/Navigation.astro';
const pageTitle = "Home"
const pageDescription = "Home"
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <meta name="description" content={pageDescription} />
  </head>
  <body>
	<Navigation />
    <h1>Home</h1>
	<p>
		Bienvenidos al blog de jesus clemente aqui aprenderemos a crear blogs con astro.
	</p>
  </body>
</html>
