---
import BaseLayout from "@/layouts/BaseLayout.astro";
const pageTitle = "Home";
const pageDescription = "Home";
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <body>
    <h2>Bienvenidos al blog de jesus clemente</h2>
    <p>Aqui aprenderemos a crear blogs con astro.</p>
  </body>
</BaseLayout>
